@import "tailwindcss";

@font-face {
  font-family: Lexend;
  src: url(/Lexend-VariableFont_wght.ttf);
}

body {
  font-family: Lexend;
}

.spatchy-gradient {
  background-color: #aa4cff;
  background-image: linear-gradient(
    to right,
    #aa4cff,
    #59d9dc
  );
}

.model-background-gradient {
  background-color: #282828;
  background-image: linear-gradient(
    to top,
    #282828,
    #505050
  );
}

.preload-cache {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  opacity: 0;
  pointer-events: none;
}

@theme {
  --color-spatchy-monochrome: #282828;
  --color-spatchy-duotone: #393939;
}